@model CRM_wJames.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Client")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt>
            @Html.DisplayName("Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientAddress)
        </dd>

        <dt>
            @Html.DisplayName("Phone")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientPhone)
        </dd>

        <dt>
            @Html.DisplayName("Email")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientEmail)
        </dd>

        <dt>
            @Html.DisplayName("Industry")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientIndustry)
        </dd>

        <dt>
            @Html.DisplayName("Notes")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientNotes)
        </dd>

        <dt>
            @Html.DisplayName("Project Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
